<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-2">
            <img src="\assets\images\abmLogo.png" alt="ABM" id="logo" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="topnav">
                <a class="active" href="#home">DNA Converter</a>
                <a href="https://www.abmgood.com/misc/orders.php">Order Support</a>
                <a href="https://www.abmgood.com/Technical-Support.html">Technical Support</a>
            </div>
        </div>
    </div>
</div>
<div>
    <app-core></app-core>
</div>
<footer style="text-align: center">
    <p>© 2018 abm Inc. All rights reserved.</p>

</footer>