@import '~@angular/material/theming';
@include mat-core();
$dna-primary: mat-palette($mat-orange, 700);
$dna-accent: mat-palette($mat-orange, 500, 900, A100);
$dna-warn: mat-palette($mat-orange);
$dna-theme: mat-light-theme($dna-primary, $dna-accent, $dna-warn);
@include angular-material-theme($dna-theme);