#convertButton {
    width: 100%;
}

li {
    padding: 2px;
}

.countResult {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

#logo {
    display: block;
    padding: 40px;
    text-align: left;
}

.btn {
    background-color: #f26522;
    color: white;
    width: 250px;
}

.table {
    margin: auto;
    border: 2px solid black;
}

.matsidenav {
    overflow-y: hidden;
}


/* Add a background color on hover */

.btn-group-vertical button:hover {
    background-color: #ffffff;
    color: #f26522;
}