button {
    width: 100%;
}

li {
    padding: 2px;
}


/* Add a background color to the top navigation */

.topnav {
    background-color: #f26522;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countResult {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ffffff;
    color: #f26522;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #f26522;
    color: white;
}

body {
    background-color: #F2F2F2;
}

#logo {
    display: block;
    padding: 40px;
    text-align: left;
}

.btn {
    background-color: #f26522;
    color: white;
    width: 250px;
}

.table {
    margin: auto;
    border: 2px solid black;
}


/* Add a background color on hover */

.btn-group-vertical button:hover {
    background-color: #ffffff;
    color: #f26522;
}