<section class="container">
    <section class="row">
        <div class="col-lg-3">

            <ul style="list-style:none">
                <li><button class=" btn btn-danger" (click)="stringCleanup()">String Cleanup</button></li>
                <li><button class=" btn btn-danger" (click)="dnarna()">Dna <-> Rna</button></li>
                <li><button class=" btn btn-danger" (click)="reverse()">Reverse</button></li>
                <li><button class=" btn btn-danger" (click)="complement()">Complement</button></li>
                <li><button class=" btn btn-danger" (click)="reverseComplement()">Reverse and Complement</button></li>
            </ul>
        </div>
        <div class="col-lg-9 row">
            <div class="col-lg-6">
                <label for="dnainput">Input</label>
                <textarea class="form-control" name="dnainput" rows="4" cols="70" [(ngModel)]="dna" (keyup)="getBasecount()"></textarea>
            </div>
            <div class="col-lg-6">
                <label for="dnaoutput">Output</label>
                <textarea class="form-control" name="dnaoutput" rows="4" cols="70" [(ngModel)]="dnaoutput"> </textarea>
            </div>
        </div>
    </section>
    <div>
        <table style="margin:auto;color:black; border:solid 2px" class="">
            <tr>
                <td style="background-color:aqua">
                    <input class="" readonly name="aCount" value="{{basecount.aCount}}">
                    <label class="lead" style="font-weight: bold " for="acount">A </label>
                </td>
                <td style="background-color:springgreen">
                    <input class="" readonly name="gCount" value="{{basecount.gCount}}">
                    <label class="lead" style="font-weight: bold " for="gcount">G </label>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color:red">
                    <input class="" readonly name="tCount" value="{{basecount.tCount}}">
                    <label class="lead" style="font-weight: bold " for="tcount">T </label>
                </td>
                <td style="background-color:yellow">
                    <input class="" readonly name=" cCount " value="{{basecount.cCount}} ">
                    <label class="lead " style="font-weight: bold " for="acount ">C </label>
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="background-color:violet">
                    <input readonly name="weakAVG " value="{{basecount.weak_AVG}}% ">
                    <label class="lead " for="weakAVG "># %AT </label>

                    <p class="lead ">(<b style="font-weight: bold ">S</b>trong-2H bonds)</p>

                </td>
                <td style="background-color:greenyellow">
                    <input readonly name="strongAVG " value="{{basecount.strong_AVG}}% ">
                    <label class="lead " for="strongAVG "># %GC </label>
                    <p class="lead ">(<b style="font-weight: bold ">W</b>eak-3H bonds)</p>
                </td>
                <td>
                    <input readonly name="total " value="{{basecount.aCount +basecount.tCount +basecount.gCount +basecount.cCount}} ">
                    <label class="lead " for="total ">total # ACGT</label>
                    <p class="lead ">(a<b style="font-weight: bold ">N</b>y base)</p>
                </td>
            </tr>

        </table>
    </div>
    <br>


</section>