<section class="row">
    <div class="col-lg-3">

        <ul style="list-style:none">
            <li><button class=" btn btn-danger" (click)="stringCleanup()">String Cleanup</button></li>
            <li><button class=" btn btn-danger" (click)="dnarna()">Dna <-> Rna</button></li>
            <li><button class=" btn btn-danger" (click)="reverse()">Reverse</button></li>
            <li><button class=" btn btn-danger" (click)="complement()">Complement</button></li>
            <li><button class=" btn btn-danger" (click)="reverseComplement()">Reverse and Complement</button></li>
        </ul>
    </div>
    <div class="col-lg-9 row">
        <div class="col-lg-6">
            <label for="dnainput">Input</label>
            <textarea name="dnainput" rows="4" cols="70" [(ngModel)]="dna"></textarea>
        </div>
        <div class="col-lg-6">
            <label for="dnaoutput">Output</label>
            <textarea name="dnaoutput" rows="4" cols="70" [(ngModel)]="dnaoutput"> </textarea>
        </div>



    </div>
</section>
<br>